*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: Arial;
}
.btn
	{
		position: absolute;
  		font-size: 24px;
  		cursor: pointer;
  		outline: none;
  		color: #fff;
    	background-color: black;
   	    border: none;
    	box-shadow: 0 9px #999;
    	width: 70px; 
    	border-radius: 25px;
    	margin: 30px;
	}
	.btn:hover
	{
		background-color: grey;
	}
	.btn:active 
	{	
  		background-color: white;
  		color: black;
  		box-shadow: 0 5px #666;
  		transform: translateY(4px);
	}
body
{

}

.wrapper
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 350px;
	width: 100%;
	background: #fff;
	padding: 25px;
	border-radius: 5px;
	box-shadow: 10px 10px 8px #888888;
}

.wrapper h1
{
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.wrapper .input_field
{
	margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea
{
	width: 100%;
	border: 1px solid black;
	padding: 10px;
}

.wrapper textarea
{
	height: 80px;
	resize: none;
}

.wrapper .btn1 input[type="submit"]
{
	border: 0;
	margin-top: 15px; 
	padding: 10px;
	width: 100%;
	text-transform: uppercase;
	background-color: lightgreen;
	color: black;
	letter-spacing: 5px;
	font-weight: bold;
	border-radius: 25px;
	cursor: pointer;
}

.wrapper #error_message
{
	margin-bottom: 20px;
	padding: 0px;
	text-align: center;
	font-size: 14px;
	transition: all 1.0s ease;
	background-color: red;
	color: white;
}